* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body, #root {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; 
}